<!DOCTYPE html>
<html>
    <%- include ./partials/head %>
    </head>
    <body>
        <div class="container">
               This is profile page
               <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <%- include ./partials/script %>
    </body>
</html>